---
import HeaderLink from './HeaderLink.astro';
import SocialMedia from './SocialMedia.astro';

import { SITE_TITLE } from '../consts';
const { pathname } = Astro.url;
const cleanPath = pathname.replace(/\/$/, "");

const isHome = cleanPath === '/NsdHSO' || cleanPath === '';
const isBlog = cleanPath.includes('/blog');
---

<header>
    <div class="container-header">
        <nav>
            <div class="nav-links">
                <a class={`actions ${isHome ? 'active' : ''}`} href="/NsdHSO">
                    <h2>{SITE_TITLE}</h2>
                    {isHome && <div class="line" transition:name="menu-line" />}
                </a>

                <a class={`actions ${isBlog ? 'active' : ''}`} href="/NsdHSO/blog">
                    <h2>Blog</h2>
                    {isBlog && <div class="line" transition:name="menu-line" />}
                </a>
            </div>
        </nav>
        <div class="actions">
            <HeaderLink role="button" href="/NsdHSO">Home</HeaderLink>
        </div>
        <div class="actions">
            <SocialMedia/>
        </div>
    </div>
</header>

<style>
    .container-header{
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding: 0 1rem;
        gap: 1rem;
    }
    header {
        background-color: #111827;
        padding: 0 2em;
    }

    .nav-links {
        display: flex;
        gap: 2rem;
    }

    .actions {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        justify-content: flex-end;
    }

    h2 {
        margin: 0;
        color: #94a3b8;
        font-size: 1.1em;
        transition: color 0.3s ease;
    }

    .active h2 {
        color: white;
    }

    .line {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 4px;
        background-color: #6366f1;
        border-radius: 2px;
    }

    .actions:hover h2 {
        color: white;
    }
</style>
