---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import SocialMedia from './SocialMedia.astro';
---

<header>
    <nav>
        <div class="actions">
            <a role="button" href="/NsdHSO">
                <h2>
                    {SITE_TITLE}
                </h2>
            </a>
            <a role="button" href="/NsdHSO/blog">
                <h2>
                    Blog
                </h2>
            </a>
        </div>
        <div class="internal-links">
            <HeaderLink role="button" href="/NsdHSO">Home</HeaderLink>
        </div>
        <SocialMedia/>
    </nav>
</header>
<style>
    header {
        margin: 0;
        padding: 0 1em;
        background-color: rgba(var(--gray-light), 50%);
        box-shadow: 0 2px 8px rgba(var(--black), 5%);
    }

    h2 {
        margin: 0;
        font-size: 1em;
    }

    .actions{
        display: flex;
    }
    .actions:hover {
        cursor: pointer;
        background-color: rgba(var(--gray-light), 0.2);
        border-color: var(--accent);
    }
    h2 a,
    h2 a.active {
        text-decoration: none;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav a {
        padding: 1em 0.5em;
        color: var(--black);
        border-bottom: 4px solid transparent;
        text-decoration: none;
    }

    nav a.active {
        text-decoration: none;
        border-bottom-color: var(--accent);
    }
</style>
