---
import { SOCIAL_MEDIA_LINKS } from '../consts';
const socialLink = SOCIAL_MEDIA_LINKS;
---

<ul class="social-links">
    {
        socialLink.map((item, index) => (
                <li tabindex="0">
                    <a role="button" href={item.link}>
                        <span class="sr-only">{item.span}</span>

                        <span set:html={item.icon}>

                        </span>
                    </a>
                </li>
        ))
    }
</ul>
<style>
    .social-links {
        display: flex;
        text-align: center;
        margin: 0;
        padding: 0 !important;
        list-style: none;
        font-size: 0;

        li {
            display: inline-block;
            margin: 0 0.5rem;
            font-size: .5rem;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .social-links a {
        /* 5. Make the anchor a block so the whole area is clickable */
        display: block;
        text-decoration: none;
        color: rgb(var(--gray));
    }

    .social-links a:hover {
        color: rgb(var(--gray-dark));
    }
</style>
