---
import { SOCIAL_MEDIA_LINKS } from '../consts';
const socialLink = SOCIAL_MEDIA_LINKS;
---

<section>
    <ul class="social-links">
        {
            socialLink.map((item, index) => (
                <li tabindex="0">
                    <a role="button" href={item.link}>
                        <span class="sr-only">{item.span}</span>

                        <span set:html={item.icon}>

                        </span>
                    </a>
                </li>
            ))
        }
    </ul>
</section>
<style>
    .social-links {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin: 1em;
        padding: 0 !important;
        li{
            list-style: none;
        }
    }

    .social-links a {
        text-decoration: none;
        color: rgb(var(--gray));
    }

    .social-links a:hover {
        color: rgb(var(--gray-dark));
    }

</style>
