name: GitHub Metrics

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GIT_TOKEN }}
          filename: static/github-metrics.*
          config_padding: 0, 20
          committer_message: "chore: update github metrics [skip ci]"
          user: NsdHSO
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Bucharest
          config_display: large

          plugin_introduction: yes
          plugin_introduction_title: yes

          # Fixed Achievements
          plugin_achievements: yes
          plugin_achievements_display: compact
          plugin_achievements_threshold: C
          plugin_achievements_only: >-
            polyglot, stargazer, sponsor, deployer, member, maintainer, developer,
            scripter, packager, explorer, infographile, manager
            
          # Fixed Habits (Newer version of metrics handles the 'author' bug better)
          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_charts: no
          plugin_habits_days: 14 # Limiting days can help avoid API timeouts

          # StackOverflow
          plugin_stackoverflow: yes
          plugin_stackoverflow_sections: answers-top
          plugin_stackoverflow_limit: 2
          plugin_stackoverflow_user: 11555908

          # Followup
          plugin_followup: yes
          plugin_followup_sections: user
          plugin_followup_indepth: yes


          # Sponsors
          plugin_sponsors: yes

          # Activity
          plugin_activity: no
          plugin_activity_days: 90
          plugin_activity_filter: all
          plugin_activity_limit: 5
          plugin_activity_load: 500
          plugin_activity_timestamps: yes
          plugin_activity_visibility: all
          
          # Discussions
          plugin_discussions: yes

          # Isocalendar
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year

          # Lines
          plugin_lines: yes

          # People
          plugin_people: yes
          plugin_people_limit: 72
          plugin_people_size: 30
          plugin_people_thanks: bdougie
          plugin_people_types: followers, following

          plugin_stars: no
          plugin_stars_limit: 10


          # Reactions
          plugin_reactions: yes
          plugin_reactions_limit: 200
          plugin_reactions_limit_issues: 100
          plugin_reactions_limit_discussions: 100
          plugin_reactions_limit_discussions_comments: 100
          plugin_reactions_days: 30
          plugin_reactions_display: absolute
          plugin_reactions_details: count, percentage
          plugin_reactions_ignored: bot
          
          # WakaTime
          plugin_wakatime: yes
          plugin_wakatime_token: ${{ secrets.WAKATIME_API_KEY }}
          plugin_wakatime_days: 30
          plugin_wakatime_sections: time, projects, projects-graphs, languages, languages-graphs, editors, editors-graphs
          plugin_wakatime_limit: 5
          plugin_wakatime_url: https://wakatime.com
          plugin_wakatime_user: NSDHSO

          # Languages (Polyglot)
          plugin_languages: yes
          plugin_languages_ignored: html, css, tex, less, dockerfile, makefile, qmake, lex, cmake, shell, gnuplot
          plugin_languages_sections: most-used
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8
          plugin_languages_threshold: 0%
          plugin_languages_colors: github
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_indepth: yes
          
